<!-- All invoices go -->
<div dojoType="dijit.layout.BorderContainer" id="invoiceGridtab" design="header" gutters="true" liveSplitters="true">
	<div dojoType="dijit.layout.ContentPane" id="invoiceGridButtonPane" region="top" splitters="false">
	    <button dojoType="dijit.form.Button" onClick="refreshInvoice">Refresh List(s)</button>
		<button dojoType="dijit.form.Button" onClick="viewInvoice">Print / Email</button>
		<button dojoType="dijit.form.Button" onClick="deleteInvoice">Delete User</button>
		<button dojoType="dijit.form.Button" onClick="smsInvoice">Send(SMS) Details</button>
	</div>
					<div dojoType="dijit.layout.ContentPane" region="center" splitter="true" id="invoiceGridPane">
						<span dojoType="dojo.data.ItemFileReadStore" jsId="invoiceStore" url="micron/index.php/invoice"></span>
						<table dojoType="dojox.grid.DataGrid" id="invoiceGrid" jsId="invoiceGrid" columnReordering="true" sortFields="['username','packet']" store="invoiceStore" query="{username: '*'}"
						clientSort="true" selectionMode="single" rowHeight="25" noDataMessage="<span class='dojoxGridNoData'>No invoices raised yet. Hit 'Refresh'</span>">
							<thead>
								<tr>
									<th field="id" width="200px">Invoice No.</th>
									<th field="realname" width="200px"> Full Name </th>
									<th field="username" width="200px">User Name</th>
									<th field="used" width="100%">Used</th>
									<th field="bill_by" width="100%">Bill By</th>
									<th field="date" width="100%"> Date </th>
									<th field="total" width="100%"> Total </th>
								</tr>
							</thead>

							<script type="dojo/method" event="onRowContextMenu" args="e">
							
							</script>
						</table>
						<div dojoType="dijit.Menu" id="invoiceMenu" targetNodeIds="invoiceGrid">
							<div dojoType="dijit.MenuItem" onClick="editVoucher">Print User</div>
							<div dojoType="dijit.MenuItem" onClick="printVoucher">Delete User</div>
						</div>
					</div>
</div>	
